<div #toaster id="toaster" [ngClass]="showToaster? 'show': ''">Form Submitted Sucessfully!!!</div>
<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon"></app-page-title>

<div class="main-card mb-3 card">
    <div class="card-body">
        <h5 class="card-title">Grid</h5>
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
            <div class="position-relative row form-group"><label for="exampleName"
                    class="col-sm-2 col-form-label">Name</label>
                <div class="col-sm-10"><input name="name" id="exampleName" formControlName="Name"
                        placeholder="Enter Name" type="text" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.Name.errors }" />
                    <div *ngIf="submitted && f.Name.errors" class="invalid-feedback">
                        <div *ngIf="f.Name.errors.required">First Name is required</div>
                    </div>
                </div>
            </div>
            <div class="position-relative row form-group"><label for="exampleAge"
                class="col-sm-2 col-form-label">Age</label>
            <div class="col-sm-10"><input name="age" id="exampleAge" formControlName="age"
                    placeholder="Enter Age" type="number" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.age.errors }" />
                <div *ngIf="submitted && f.age.errors" class="invalid-feedback">
                    <div *ngIf="f.age.errors.required">Age is required</div>
                    <div *ngIf="f.age.errors.invalidAge">Age should be between 18 and 90</div>
                </div>
            </div>
        </div>
            <div class="position-relative row form-group"><label for="exampleEmail"
                    class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10"><input name="email" id="exampleEmail" formControlName="email"
                        placeholder="Enter Email" type="text" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                        <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                    </div>
                </div>
            </div>
            <div class="position-relative row form-group"><label for="exampleContact"
                    class="col-sm-2 col-form-label">Contact</label>
                <div class="col-sm-10"><input name="contact" id="exampleContact" formControlName="contact"
                        placeholder="Enter Contact" type="text" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.contact.errors }" />
                    <div *ngIf="submitted && f.contact.errors" class="invalid-feedback">
                        <div *ngIf="f.contact.errors.required">Contact is required</div>
                        <div *ngIf="f.contact.errors.invalidNumber">invalid contact</div>
                    </div>
                </div>
            </div>
            
            <button class="mt-1 btn btn-primary">Submit</button>
        </form>
    </div>
</div>